<div class="mx-auto" style="width: 30vw;">

    <h1 class="text-center mt-5">Editing Group</h1>

    <div class="mt-5">
        <%= render 'form', group: @group %>
    </div>


    <div class="text-center">
        <%= link_to 'Show', @group %> |
        <%= link_to 'Back', groups_path %>
    </div>
</div>