<div class="mx-auto" style="width: 30vw;">

<h1 class="text-center mt-5">New Concert</h1>

<div class="mt-5">
<%= render 'form', concert: @concert %>
</div>


<div class="text-center">
<%= link_to 'Back', concerts_path %>
</div>

</div>